div .container mat-elevation-z8{
    height: 40px;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #f2f2f2;
    text-align: center;
}
button{
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
  }
  
  button {
    margin-bottom: 10px;
  }